/* main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
} */

h3 {
    margin: 0;
    min-width: 100px;
}

.section-options-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.radio-button-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.radio-button-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.filter-Result {
    display: flex;
    gap: 20px;
}

.panel-result-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 5px var(--gray-shadow-600);
}

.article-result-product-service {
    display: flex;
    flex-direction: row;
    gap: 10%;
    max-width: 1100px;
    align-items: center;
    margin-bottom: 2%;
    justify-content: center;
}

.container-new-description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5%;
}

.container-delete-information {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 2.5%;
}

.container-delete-information > h3 {
    width: 100px;
    max-width: 100px;
}

.article-create {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-content-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.content-group {
     display: flex;
     flex-direction: row;
     gap: 20px;
}

.content-group-file {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    width: calc(80% + 10px);
    height: 40px;
    background-color: var(--gray-800);
    color: var(--primary-white);
    outline: none;
    border: 0;
    border-radius: 20px;
    appearance: none;
}

.text-area-create {
    width: 520px;
}

.svg {
    color: var(--primary-white);
    width: 20px;
}

/* ADM. Product Update */
@media screen and (max-width: 1130px) {
    .article-result-product-service {
        flex-direction: column;
        gap: 6%;
    }
    
    .panel-result-img {
        margin-bottom: 2%;
    }

    .container-new-description {
        align-items: center;
    }

    .container-delete-information {
        display: flex;
        flex-direction: column;
    }

    .container-delete-information > h3 {
        text-align: center;
    }

    /* span description */
    .container-delete-information:last-child > span {
        text-align: center;
    }
}

@media screen and (max-width: 430px) {
    .section-options-filter {
        flex-direction: column;
    }

    .radio-button-group {
        flex-direction: column;
        gap: 15px;
    }

    .container-new-description {
        margin-top: 4%;
        margin-bottom: 10%;
        align-items: center;
    }

    /* Update */
    .content-group-file > p {
        text-align: center;
    }

    /* Create */
    .content-group {
        flex-direction: column;
    }

    .text-area-create {
        width: auto;
    }
}