.form-section {
    display: flex;
    justify-content: center;
}

.section-comment {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-article-comment {
    max-height: 360px;
    overflow-y: auto;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: 20px; 
    padding: 2%;
    width: 1100px;
    max-width: 1000px; 
    border-radius: 10px; 
    box-shadow: 0px 0px 50px 5px var(--gray-shadow-600);
}

.article-content-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    max-width: 1022px;
}

.comment-content {
    display: flex;
    width: 890px;
    max-width: 890px;
    flex-direction: column;
}

.comment-content-text {
    max-width: 1000px;
}

.content-comment-user {
    background-color: var(--lime-100);
    height: fit-content;
    width: auto;
    padding: 1%;
    border-radius: 999px;
}

.comment-avatar {
    color: var(--lime-700);
}

.comment-content-user {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.line {
    display: inline-block;
    border-top: 1px solid var(--gray-800);
    width: 95%;
}

.comment-type-text {
    width: 300px !important;
}

.comment-textArea {
    width: 500px;
}

@media screen and (max-width: 1100px) {
    /* Comment */
    .second-article-comment {
        width: 90%;
    }
    
    .article-content-comment {
        max-width: none;
        width: 85%;
    }

    .comment-textArea {
        width: 300px;
    }

    /* Panel ADM. Comment */
    .section-comment {
        width: 85%;
    }

    .second-article-comment {
        width: 100%;
    }

    .form-content-comment {
        width: 95%;
    }

    .comment-avatar {
        font-size: 20px;
    }
}

@media screen and (max-width: 428px) {
    p {
        font-size: 20px;
    }
}