/* Common */
.hidden-message {
    display: none;
    animation:scale-down-center 0.4s;
}

.container-message-visible {
    width: 100%;
    animation: scale-up-center 0.4s;
}

.container-message-visible-medium {
    width: 85%;
    margin-bottom: 5%;
    animation: scale-up-center 0.4s;
}

.container-message-visible-small {
    width: 60%;
    animation: scale-up-center 0.4s;
}

.container-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2%;
    border-radius: 20px;
    width: 100%;
    animation: scale-up-center 0.4s;
}

.container-message-span {
    padding-left: 20px;
}

.success-color {
    background-color: var(--success-600);
}

.warning-color {
    background-color: var(--warning-600);
}

.button-closed {
    border: 0;
    background-color: var(--primary-transparent);
    color: var(--primary-white);
}

.icon-X {
    width: 20px;
}

.message-error {
    color: var(--red-600);
}

/* Register Message */
.message-error-form-register {
    display: flex;
    justify-content: center; 
    align-items: center;
}

/* Show Message */
@keyframes scale-up-center { 
    0% {
        transform:scale(.5)
    } 100% {
        transform:scale(1)
    }
}

/* Hidden Message */
@keyframes scale-down-center { 
    0% {
        transform:scale(1)
    } 100% { 
        transform:scale(.5)
    }
}

@media screen and (max-width: 1292px) {
    .container-message {
        align-items: center;
    }

    .container-message-span {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .container-message-span {
        font-size: 12px;
    }
}