main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.section-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

h3 {
    min-width: 100px;
}

.section-list {
    display: flex;
    align-items: flex-start;
}

/* .section-list:hover {
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px var(--gray-shadow-600);
} */

.article-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
    align-items: center;
}

.result {
    width: 250px;
    height: 250px;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px var(--gray-shadow-600);
}

.result-service {
    width: 350px;
    height: 250px;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px var(--gray-shadow-600);
}

.container-product {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 1000px;
}

.container-service {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 1000px;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 380px;
    max-width: 380px;
}

.number {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 200px;
    justify-content: center;
}

.detail-product {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 360px;
    max-width: 360px;
}

.number-product {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 200px;
    justify-content: center;
}

.span-price {
    display: flex;
    justify-content: flex-end;
}

/* Product */
.section-list-product {
    width: 100%;
    display: flex;
    justify-content: center;
}

.article-result-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
    align-items: center;
}

/* .section-list-product:hover {
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px var(--gray-shadow-600);
} */

@media screen and (max-width: 980px) {
    /* Service */
    .article-result {
        flex-direction: column;
    }

    .result-service {
        margin-right: 0;
        margin-bottom: 5%;
    }

    .container-service {
        gap: 20px;
        flex-direction: column;
    }

    .detail {
        max-width: 280px;
        text-align: center;
    }

    /* Product */
    .article-result-product {
        width: 710px;
    }

    .result {
        margin-right: 0;
    }

    .container-product {
        width: 440px;
        gap: 2%;
    }

    .detail-product {
        width: 300px;
        max-width: 300px;
    }
}

@media screen and (max-width: 767px) {
    /* Product */
    .article-result-product {
        width: 100%;
        flex-direction: column;
    }

    .result {
        margin-right: 0;
        margin-bottom: 5%;
    }

    .container-product {
        gap: 20px;
        width: 100%;
        flex-direction: column;
    }

    .detail-product {
        max-width: 280px;
        text-align: center;
    }

    .number-product {
        align-items: center;
    }   
}

@media screen and (max-width: 395px) {
    /* Service */
    .container-service {
        width: 95%;
        gap: 20px;
        flex-direction: column;
    }
}