<section id='experience' class='main-section-exp'>
    <div class='main-section-exp__titulo'>
        <h1 class='main-section-exp__titulo__h1'>Experience</h1>
    </div>
    <div class='main-section-exp__experiencia'>
        <article class='main-section-exp__article padding-experiencia-left'>
            <div class='main-section-exp__experiencia__article__informacion'>
                <div>
                    <div class="main-section-exp__experiencia_article_informacion__details">
                        <img src="/images/svg/work.svg" alt="work svg icon">
                        <h4>Freelance Developer</h4>
                    </div>
                    
                    <div  class="main-section-exp__experiencia_article_informacion__details">
                        <img src="/images/svg/building.svg" alt="building svg icon">
                        <h5>Ingeniería & Construcción Sigdo Koppers</h5>
                    </div>
                    
                    <div  class="main-section-exp__experiencia_article_informacion__details">
                        <img src="/images/svg/date.svg" alt="date svg icon">
                        <h5>March, 2023 - January, 2025</h5>
                    </div>
                </div>
                <p class='main-section-exp__experiencia__article__informacion__parrafo'>
                    I was working on an automation project using UiPath Studio and C#. 
                    This project involves processing employee severance payments for the
                    company on a government platform, a task previously done by a person who
                    was experiencing time issues due to this secondary process. The project I
                    programmed is currently communicating with an SQL Server database where
                    the data is stored. It retrieves this information and inputs it into the platform
                    unattended, generating a summary report in Excel of the work done.
                </p>
                <p class='main-section-exp__experiencia__article__informacion__parrafo'>
                    With which several projects have been implemented, in addition to providing support for these projects.
                </p>
            </div>
        </article>

        <article class='main-section-exp__article padding-experiencia-right'>
            <div class='main-section-exp__experiencia__article__informacion'>
                <div>
                    <div class="main-section-exp__experiencia_article_informacion__details">
                        <img src="/images/svg/work.svg" alt="work svg icon">
                        <h4>Developer & Data Analyst</h4>
                    </div>
                    
                    <div class="main-section-exp__experiencia_article_informacion__details">
                        <img src="/images/svg/building.svg" alt="building svg icon">
                        <h5>Ingeniería & Construcción Sigdo Koppers</h5>
                    </div>
                    
                    <div class="main-section-exp__experiencia_article_informacion__details">
                        <img src="/images/svg/date.svg" alt="date svg icon">
                        <h5>January, 2018 - April, 2023</h5>
                    </div>
                </div>
                <p class='main-section-exp__experiencia__article__informacion__parrafo'>
                    I have worked on developing web solutions for the company’s internal projects using languages such as ASP.NET, ASP.NET Core, and Azure Functions, as well as implementing data models in SQL Server. Additionally, I have developed RPA automation solutions with UiPath Studio.
                    I implemented data models that supported web development projects, using SQL Server, where I was responsible for preparing all the databases.
                    Additionally, I implemented solutions with RPA using UiPath Studio, where I developed various Bots for different processes that the company needed to cover, allowing employees to be freed up and redirected to more important tasks.
                </p>
                <p class='main-section-exp__experiencia__article__informacion__parrafo'>
                    Additionally, I have developed RPA automation solutions with UiPath Studio.
                </p>
            </div>
        </article>
    </div>
</section>