<section class='main-section-layout'>
  <article>
    <img class='main-section-layout__article__img' src='/images/Winter.webp' alt='imagen de perfil del porfolio' />
  </article>

  <article>
    <div class='main-section-layout__article__personal__information'>
      <h1>Hello,</h1>
      <h2>I am Daniel Pizarro Saavedra</h2>
      <h3>Computer Engineer</h3>
    </div>         
    <div class='main-section-layout__article--badge'>
        <div class='main-section-layout--article--badge--content'>
            <span><strong>OPEN TO NEW JOB OPPORTUNITIES.</strong></span>
        </div>
    </div>   
    <div class='main-section-layout__article__div'>
        <button class='main-section-layout__article__div--button'>
          <img src="/images/svg/location.svg" alt="signal location">
          <span class='main-section-layout__article__div---span'>Barrie, ON</span>
        </button>
        
        <button class='main-section-layout__article__div--button'>
          <img src="/images/svg/education.svg" alt="signal education">
          <span class='main-section-layout__article__div---span'>Georgian College</span>
        </button>
    </div>
  </article>
</section>

<section class='main-section-cards'>
  <h1>Connect & Explore</h1>
  <article class="main-section-cards__article">
    <button class="main-section-cards-content__titulo" onclick="sendMeEmail()">
        <img src="/images/svg/user.svg" alt="signal user">
        <span>Contact me</span>
    </button>

    <a class="main-section-cards-content__titulo" href="/document/Daniel Pizarro Saavedra.pdf" target="_blank">
      <img src="/images/svg/attach.svg" alt="signal attach">
      <span>Resume</span>
    </a>
  </article>
</section>