<!DOCTYPE html>
<html>
  <head>
    <title>DanielPizarroDev</title>
    <link rel='stylesheet' href='/stylesheets/layout.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/nav.css'>
    <link rel='stylesheet' href='/stylesheets/experience.css'>
    <link rel='stylesheet' href='/stylesheets/skill.css'>
    <link rel='stylesheet' href='/stylesheets/aboutMe.css'>
    <link rel='stylesheet' href='/stylesheets/project.css'>
    <link rel='shortcut icon' href='/images/favicon/dev.png' type='image/x-icon'>
  </head>

  <body>
    <section class='main-section'>
        <nav class='main-section__nav'>
            <ul class='main-section__nav__list'>
                <li class='main-section__nav__list__logo'>
                    <button class='main-section__nav__button--active'>
                        <a class='main-section__nav__link--active' href='/'>
                            <img class='main-section__nav__logo__svg' src="/images/svg/Logo.svg" alt="">
                            <span class='main-section__nav__logo__titulo'>DanielPizarroDev</span>
                        </a>
                    </button>
                </li>
                <li>
                    <a class='main-section__nav__link--active' href='/experience'>
                        <span class='main-section__nav__logo__titulo'>Experience</span>
                    </a>
                </li>
                
                <li>
                    <a class='main-section__nav__link--active' href='/project'>
                        <span class='main-section__nav__logo__titulo'>My projects</span>
                    </a>
                </li>
                
                <li class='main-section__nav__list__logo extends'>
                    <a class='main-section__nav__link--active' href='/programming'>
                        <span class='main-section__nav__logo__titulo'>Programming languages</span>
                    </a>
                </li>
                <li>
                    <a class='main-section__nav__link--active' href='/aboutMe'>
                        <span class='main-section__nav__logo__titulo'>About me</span>
                    </a>
                </li>
                <li>
                    <a class='main-section__nav__link--active' href='/contact'>
                        <span class='main-section__nav__logo__titulo'>Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>

    {{{body}}}

    <footer>
        <span>©DanielPizarroDev</span>
        <button class='main-section-layout__article__div--button-svg' aria-label='Button Linkedin'>
            <a href='https://www.linkedin.com/in/daniel-pizarro-saavedra/' target='_blank' aria-label='Open the programmer\'s LinkedIn profile'>
              <img class='main-section__nav__logo__svg' src="/images/svg/Linkedln.svg" alt="Open the programmer\'s LinkedIn profile">
            </a>
        </button>

        <button class='main-section-layout__article__div--button-svg' aria-label='Button Github'>
            <a href='https://github.com/DanielPizarroDeveloper' target='_blank' aria-label='Open the programmer\'s GitHub profile'>
              <img class='main-section__nav__logo__svg' src="/images/svg/Github.svg" alt="">
            </a>
        </button>

        <button class='main-section-layout__article__div--button-svg'>
            <a href='https://www.linkedin.com/in/daniel-pizarro-saavedra/' target='_blank' aria-label='E-Mail the programmer'>
              <img style="width: 40px;" src="/images/svg/mail.svg" alt="">
            </a>
        </button>
    </footer>
  </body>
  <script src="/javascripts/contact.js"></script>
</html>
