<section class='main-section-skill'>
    <div class='main-section-skill__container__titulo'>
        <h1 class='main-section-skill__titulo'>Programming languages</h1>
    </div>
    
    <div class='main-section-skill__container__columns'>
        <article class='main-section-skill__container_column_1'>
          <div class='main-section-skill__container__columns__logo'>
              <img class='main-section-skill__container__columns__logo__svg'  src="/images/svg/frontend.svg" alt="">
          </div>

          <div class='main-section-skill__container__columns__skill'>
            <div class='main-section-skill__container__columns__skill__titulo__div_frontend'>
                <h4 class='main-section-skill__container__columns__skill__titulo__div__frontend-h4'>Frontend</h4>
            </div>

            <div class='main-section-skill__container__columns__skill__frontend'>
                <div class='main-section-skill__container__columns__skill__content'>
                    <img class='main-section-skill__container__columns__skill__content__svg' src="/images/svg/html.svg" alt="">
                    <div class='main-section-skill__container__columns__skill__content__detalle'>
                        <span class='main-section-skill__container__columns__skill__content__detalle_span'>HTML</span>
                        <div class='main-section-skill__container__level green'>
                            <span class='main-section-skill__container__columns__skill__content__detalle_span green'>ADVANCED</span>
                        </div>
                    </div>
                </div>
                <div class='main-section-skill__container__columns__skill__content'>
                  <img class='main-section-skill__container__columns__skill__content__svg' src="/images/svg/css.svg" alt="">
                  <div class='main-section-skill__container__columns__skill__content__detalle'>
                        <span class='main-section-skill__container__columns__skill__content__detalle_span'>CSS</span>
                        <div class='main-section-skill__container__level green'>
                            <span class='main-section-skill__container__columns__skill__content__detalle_span green'>ADVANCED</span>
                        </div>
                  </div>
                </div>

                <div class='main-section-skill__container__columns__skill__content'>
                  <img class='main-section-skill__container__columns__skill__content__svg' src="/images/svg/js.svg" alt="">
                  <div class='main-section-skill__container__columns__skill__content__detalle'>
                        <span class='main-section-skill__container__columns__skill__content__detalle_span'>Javascript</span>
                        <div class='main-section-skill__container__level yellow'>
                            <span class='main-section-skill__container__columns__skill__content__detalle_span yellow'>INTERMEDIATE</span>
                        </div>
                  </div>
                </div>
                <div class='main-section-skill__container__columns__skill__content'>
                  <img class='main-section-skill__container__columns__skill__content__svg' src="/images/svg/ReactJS.svg" alt="">
                  <div class='main-section-skill__container__columns__skill__content__detalle'>
                        <span class='main-section-skill__container__columns__skill__content__detalle_span'>React JS</span>
                        <div class='main-section-skill__container__level yellow'>
                            <span class='main-section-skill__container__columns__skill__content__detalle_span yellow'>INTERMEDIATE</span>
                        </div>
                  </div>
                </div>
            </div>
          </div>
        </article>

        <article class='main-section-skill__container_column_2'>
            <div class='main-section-skill__container__columns__logo'>
                <img class='main-section-skill__container__columns__logo__svg'  src="/images/svg/backend.svg" alt="">
            </div>

            <div class='main-section-skill__container__columns__skill'>
                <h4 class='main-section-skill__container__columns__skill__titulo__div__backend'>Backend</h4>
                <div class='main-section-skill__container__columns__skill__backend'>
                    <div class='main-section-skill__container__columns__skill__content_backend'>
                        <div class='main-section-skill__container__columns__skill__content__backend__element'>
                            <img class='main-section-skill__container__columns__skill__content__backend__svg' src="/images/svg/UiPath.svg" alt="">
                            <div class='main-section-skill__container__columns__skill__content__detalle_backend'>
                                  <span class='main-section-skill__container__columns__skill__content__detalle_span'>UiPath</span>
                                  <div class='main-section-skill__container__level green'>
                                      <span class='main-section-skill__container__columns__skill__content__detalle_span green'>ADVANCED</span>
                                  </div>
                            </div>
                        </div>
                    </div>

                    <div class='main-section-skill__container__columns__skill__content_backend'>
                        <div class='main-section-skill__container__columns__skill__content__backend__element'>
                            <img class="main-section-skill__container__columns__skill__content__backend__svg" src="/images/svg/python.svg" alt="">
                            <div class='main-section-skill__container__columns__skill__content__detalle_backend'>
                                  <span class='main-section-skill__container__columns__skill__content__detalle_span'>Python</span>
                                  <div class='main-section-skill__container__level yellow'>
                                      <span class='main-section-skill__container__columns__skill__content__detalle_span yellow'>INTERMEDIATE</span>
                                  </div>
                            </div>
                        </div>
                    </div>

                    <div class='main-section-skill__container__columns__skill__content_backend'>
                        <div class='main-section-skill__container__columns__skill__content__backend__element'>
                            <img class='main-section-skill__container__columns__skill__content__backend__svg' src="/images/svg/java.svg" alt="">
                            <div class='main-section-skill__container__columns__skill__content__detalle_backend'>
                                  <span class='main-section-skill__container__columns__skill__content__detalle_span'>Java</span>
                                        <div class='main-section-skill__container__level yellow'>
                                      <span class='main-section-skill__container__columns__skill__content__detalle_span yellow'>INTERMEDIATE</span>
                                  </div>
                            </div>
                        </div>
                    </div>

                    <div class='main-section-skill__container__columns__skill__content_backend'>
                        <div class='main-section-skill__container__columns__skill__content__backend__element'>
                            <img class='main-section-skill__container__columns__skill__content__backend__svg' src="/images/svg/NetCore.svg" alt="">
                          <div class='main-section-skill__container__columns__skill__content__detalle_backend'>
                                <span class='main-section-skill__container__columns__skill__content__detalle_span'>.NET Core</span>
                                <div class='main-section-skill__container__level green'>
                                    <span class='main-section-skill__container__columns__skill__content__detalle_span green'>ADVANCED</span>
                                </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class='main-section-skill__container_column_3'>
            <div class='main-section-skill__container__columns__logo'>
                <img class='main-section-skill__container__columns__logo__svg'  src="/images/svg/database.svg" alt="">
            </div>
            <div class='main-section-skill__container__columns__skill'>
                <div class='main-section-skill__container__columns__skill__titulo__div_database'>
                    <h4 class='main-section-skill__container__columns__skill__titulo__div__database-h4'>Base de datos</h4>
                </div>

                <div class='main-section-skill__container__columns__skill__database'>
                    <div class='main-section-skill__container__columns__skill__content_database'>
                        <img class='main-section-skill__container__columns__skill__content__svg' src="/images/svg/sqlserver.svg" alt="">
                        <div class='main-section-skill__container__columns__skill__content__detalle'>
                            <span class='main-section-skill__container__columns__skill__content__detalle_span'>SQL Server</span>
                            <div class='main-section-skill__container__level green'>
                                <span class='main-section-skill__container__columns__skill__content__detalle_span green'>ADVANCED</span>
                            </div>
                        </div>
                    </div>

                    <div class='main-section-skill__container__columns__skill__content_database'>
                        <img class='main-section-skill__container__columns__skill__content__svg' src="/images/svg/oracle.svg" alt="">
                        <div class='main-section-skill__container__columns__skill__content__detalle'>
                                <span class='main-section-skill__container__columns__skill__content__detalle_span'>ORACLE</span>
                                <div class='main-section-skill__container__level green'>
                                    <span class='main-section-skill__container__columns__skill__content__detalle_span green'>ADVANCED</span>
                                </div>
                        </div>
                    </div>

                    <div class='main-section-skill__container__columns__skill__content_database'>
                        <img class='main-section-skill__container__columns__skill__content__svg' src="/images/svg/mysql.svg" alt="">
                        <div class='main-section-skill__container__columns__skill__content__detalle'>
                            <span class='main-section-skill__container__columns__skill__content__detalle_span'>MySQL</span>
                            <div class='main-section-skill__container__level green'>
                                <span class='main-section-skill__container__columns__skill__content__detalle_span green'>ADVANCED</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>