<section class='main-section-project'>
    <div class='main-section-project__titulo'>
        <h1 class='main-section-project__titulo__h1'>My Projects</h1>
    </div>
    <div class='main-section-project__list'>
        <article class="main-section-project-list__content">
            <img class="main-section-project-list-content__img" src="/images/Contratos.webp" alt="Image representative of project">
            
            <div class="main-section-project__detail_project">
                <h3>Entry of contracts to the labor office.</h3>
                <p>
                    This automation project aims to optimize the registration of employment contracts on the Chilean Labor Department's platform. Using UiPath as an RPA tool, C# as the programming language, and SQL Server as the database, the solution enables the automatic and unattended processing and submission of contract information.
                    The system extracts data from the SQL Server database, validates the information, and submits it to the official web platform, eliminating the need for manual intervention. As a result, operational efficiency is improved, errors are minimized, and compliance with labor regulations is expedited.
                    Additionally, the system generates detailed reports of all transactions, providing visibility and traceability throughout the process. This solution not only optimizes time and resources but also ensures greater accuracy and regulatory compliance in contract management.
                </p>
                
                <div class="main-section-project-details-technology background-orange">
                    <img src="/images/svg/UiPath.svg" alt="UiPath image">
                    <span>UiPath Studio</span>
                </div>
            
                <div class="main-section-project-details-technology background-white">
                    <img src="/images/svg/sqlserver.svg" alt="SQL Server image">
                    <span>SQL Server</span>
                </div>
            
                <div class="main-section-project-details-technology background-purple">
                    <img src="/images/svg/csharp.svg" alt="C# image">
                    <span>C Sharp</span>
                </div>
            </div>
        </article>

        <article class="main-section-project-list__content article-reverse">
            <img class="main-section-project-list-content__img" src="/images/TaskFlow.webp" alt="Image representative of project">
            
            <div class="main-section-project__detail_project reverse">
                <h3>TaskFlow – Manage Your Projects with Ease and Efficiency</h3>
                <p style="width: 85%; text-align: end;">TaskFlow is an intuitive and dynamic web application designed to optimize project and task management. With an interactive canvas, users can visually organize their activities, creating projects and structuring tasks into three columns: New, In Progress, and Completed.
                    Thanks to its integration with Firebase, all information is stored in a NoSQL database, ensuring real-time synchronization and secure access from any device. TaskFlow also offers a flexible authentication system, allowing users to sign in with email and password or via Google, providing a seamless and reliable experience.
                    Ideal for both teams and personal use, TaskFlow helps you stay in control of your tasks and projects with a modern and efficient interface. Simplify your workflow and maximize your productivity with TaskFlow!</p>
                <div class="main-section-project-details-technology background-yellow">
                    <img src="/images/svg/javascript.svg" alt="Javascript image">
                    <p>Javascript</p>
                </div>

                <div class="main-section-project-details-technology background-light-blue">
                    <img src="/images/svg/ReactJS.svg" alt="React JS image">
                    <p>React JS</p>
                </div>
            
                <div class="main-section-project-details-technology background-orange">
                    <img src="/images/svg/firebase.svg" width="48px" height="48px" alt="Firebase image">
                    <p>Firebase</p>
                </div>
            </div>
        </article>
    </div>
</section>


