<main>
    <h1>About Us</h1>
    <section class='section-about'>
        <article class='article-logo'>
            <img src='/images/LeoneBuilding.webp' alt='Image of the facade of Tapiceria Leone'>
        </article>

        <article class='line-article'>
            <div class='line-about'></div>
        </article>

        <article class='article-about'>
            <p>
                At Tapicería Leone, we take pride in offering top-quality upholstery services tailored to your needs. Our team of skilled professionals specializes in restoring and customizing interiors with precision and craftsmanship, ensuring every detail meets the highest standards. <br>
                In addition to vehicle upholstery, we provide services for furniture, motorcycles, and custom projects. Whether you're looking to refurbish your car seats, enhance your boat's interior, or restore a classic piece of furniture, we have the expertise and materials to bring your vision to life. <br>
                We use only the best materials, including high-quality leather, vinyl, and fabrics, to guarantee durability and comfort. Our workshop is fully equipped with the latest tools and technology to deliver outstanding results on every project. <br>
                Customer satisfaction is our top priority. We work closely with each client to understand their preferences and provide personalized solutions that exceed expectations. Visit us at Lira 815 to explore our services and discover how we can transform your space with elegance and quality craftsmanship.
            </p>
        </article>
    </section>
</main>