<section class='section-account'>
    <article class='article-account account-panel'>
        <h1>Account Personal</h1>
        <div class='account-content'>
            <img class='img-account' src='/images/Avatar.webp' alt='User Image representative'>
            
            <div class='content-user-information'>
                <label for='Name'>Name</label>
                <span>{{user}}</span>
            </div>

            <div class='content-user-information'>
                <label for='Name'>Email</label>
                <span>{{email}}</span>
            </div>
        </div>
    </article>

    <article class='article-option-panel'>
        <h2> Other Options</h2>
        <div class='content-option'>
            <div class='content-option-titulo'>
                <h2>Administrator - Product page</h2>
                <div class="horizontal-line"></div>
            </div>
            <p>Manage your product catalog with ease. Add new products, edit existing information, and remove those you no longer need, all from an intuitive and efficient interface.</p>
            <a class='redirect' href='/panelProduct'><span>Redirecting to product management</span></a>
        </div>

        <div class='content-option'>
            <div class='content-option-titulo'>
                <h2>Administrator - Service page</h2>
                <div class='horizontal-line'></div>
            </div>
            <p>Manage your list of services with ease. Add new services, edit existing information, and remove those you no longer offer, all from an intuitive and efficient interface.</p>
            <a class='redirect' href='/panelService'><span>Redirecting to product management</span></a>
        </div>

        <div class='content-option'>
            <div class='content-option-titulo'>
                <h2>Administrator - Comment page</h2>
                <div class='horizontal-line'></div>
            </div>
            <p>Easily manage comments quickly and efficiently. Review, edit, and delete feedback to keep your space organized and relevant for your users.</p>
            <a class='redirect' href='/panelComment'><span>Redirecting to product management</span></a>
        </div>
    </article>
</section>