<main>
    <h1>Comments</h1>

    <section class='section-comment'>
        <input class='comment-type-text' type='text' value='Title of your opinion' disabled>
        <textarea class='comment-textArea' name='opinion' id='opinion' placeholder='Type your opinion here!'></textarea>
        <input type='submit' value='Post it'>
    </section>

    <section>
        <article class='article-filter-comment'>
            <h3>Sort by</h3>
            <select name='product' id='product'>
                <option value='Seleccione' selected hidden disabled>Seleccione</option>
                <option value='Newest'>Newest</option>
                <option value='Oldest'>Oldest</option>
            </select>
        </article>

        <article class='second-article-comment'>
            {{#each comments}}
                <div class='article-content-comment'>
                    <div class='content-comment-user'>
                        <span class='comment-avatar'>DP</span>
                    </div>

                    <div class='comment-content'>
                        <h3>{{title}}</h3>
                        <div class='comment-content-text'>
                            <p>{{bodydescription}}</p>
                        </div>

                        <div class='comment-content-user'>
                            <span>{{responsable}}</span>
                            <span>Publication date:&nbsp;&nbsp;{{date}}</span>
                        </div>
                    </div>
                </div>

                <div class='line'></div>
            {{/each}}

        </article>
    </section>
</main>