<main>
    <section class='section-contact'>
        <article>
            <img class='img-contact' src='/images/Logo.webp' alt='Corporate image of the company'>
        </article>

        <article class='article-contact-line'>
            <div class='vertical-line'></div>
        </article>

        <article class='article-content'>
           <h2>Do you have any questions?</h2>
           <h1>Leave us a message here.</h1>

            <form method='POST'>
                <div class='article-content-container'>
                    <input type='text' placeholder='Type your Name' name='customerName' value='{{user}}' required>
                    <input type='email' placeholder='Type your email' name='customerEmail' value='{{email}}' required>
                    <select name='type' id='type'>
                        <option value='Select' disabled selected hidden>Select your Subject</option>
                        <option value='Request a quote'>Request a quote</option>
                        <option value='Check availability'>Check availability</option>
                        <option value='Material & design advice'>Material & design advice</option>
                        <option value='Order tracking'>Order tracking</option>
                        <option value='Other inquiry'>Other inquiry</option>
                    </select>
                    <textarea name='description' id='description' placeholder='Type your message here!' rows='10'></textarea>
                    <input type='submit' value='Send email'>
                </div>
            </form>
        </article>
    </section>
</main>