<main>
    <section class='section-contact'>
        <article>
            <img class='img-contact' src='/images/Logo.webp' alt='Corporate image of the company'>
        </article>

        <article class='article-contact-line'>
            <div class='vertical-line'></div>
        </article>

        <article class='article-content'>
           <h2>Do you have any questions?</h2>
           <h1>Leave us a message here.</h1>

            <div class='article-content-container'>
                <input type='text' placeholder='Type your Name'>
                <input type='text' placeholder='Type your email'>
                <input type='text' placeholder='Type your subject'>
                <select name='type' id='type'>
                    <option value='Seleccione' disabled selected hidden> Seleccione</option>
                    <option value='Inquiry 1'>Inquiry 1</option>
                    <option value='Inquiry 2'>Inquiry 2</option>
                    <option value='Inquiry 3'>Inquiry 3</option>
                    <option value='Inquiry 4'>Inquiry 4</option>
                    <option value='Inquiry 5'>Inquiry 5</option>
                </select>
                <textarea name='description' id='description' placeholder='Type your message here!' rows='10'></textarea>
                <input type='button' value='Send email'>
            </div>
        </article>
    </section>
</main>