<section class='header'>
  <article class='header-article-left'>
    <h1 class='header-article-title'>MENSAJE DE BIENVENIDA</h1>
    <h3 class='header-article-title'>SUBTÍTULO</h3>
  </article>
  <article class='header-article-right'>
    <img class='header-article-right-img' src='images/User.webp' alt='An image of a customer representing a general opinion of the company'>
  </article>
</section>

<section class='header-section-data'>
  <article class='section-data-article'>
    <div class='article-container-data'>
      <span>100+</span>
      <span>COSTUMERS</span>
    </div>
    <div class='article-container-data'>
      <span>10+</span>
      <span>SERVICES</span>
    </div>
    <div class='article-container-data'>
      <span>30+</span>
      <span>PRODUCTS</span>
    </div>
    <div class='article-container-data'>
      <span>150+</span>
      <span>COMMENTS</span>
    </div>
  </article>
</section>

<section class='header-section'>
  <article class='header-section-content'>
    <div class='content-titulo'>
      <h1>TÍTULO DE DESCRIPCIÓN</h1>
    </div>
    <div class='content-descripcion'>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab dicta, provident neque sapiente, harum asperiores ratione labore, explicabo perferendis adipisci cum. A eaque tenetur ducimus, dicta quia ea sunt repellat?</p>
    </div>
  </article>
</section>