<section class='header'>
  <article class='header-article-left'>
    <h1 class='header-article-title'>Revitalize your ride with style and comfort</h1>
    <h3 class='header-article-title'>At our auto upholstery shop, we transform every interior with high-quality materials and custom designs to make your car feel brand new.</h3>
  </article>
  <article class='header-article-right'>
    <img class='header-article-right-img' src='images/User.webp' alt='An image of a customer representing a general opinion of the company'>
  </article>
</section>

<section class='header-section-data'>
  <article class='section-data-article'>
    <div class='article-container-data'>
      <span>100+</span>
      <span>COSTUMERS</span>
    </div>
    <div class='article-container-data'>
      <span>10+</span>
      <span>SERVICES</span>
    </div>
    <div class='article-container-data'>
      <span>15+</span>
      <span>PRODUCTS</span>
    </div>
    <div class='article-container-data'>
      <span>150+</span>
      <span>COMMENTS</span>
    </div>
  </article>
</section>

<section class='header-section'>
  <article class='header-section-content'>
    <div class='content-titulo'>
      <h1>Over 100 customers trust us to transform their vehicle interiors with comfort and style</h1>
    </div>
    <div class='content-descripcion'>
      <p>With over 10 services, 30 products, and 150+ positive reviews, we deliver top-notch auto upholstery that elevates your driving experience.</p>
    </div>
  </article>
</section>