<main>
    <section class='section-login-register'>
        <article class='article-login-register'>
            <img class='img-login-register' src='/images/Company_Img.webp' alt='Corporate image of the company'>
        </article>

        <article class='content-login-register-title'>
            <div class='content'>
                <h2>Tapiceria Leone</h2>
                <h3>Login</h3>
            </div>
        </article>

        <article class='article-content-form'>
            <input type='email' placeholder='Type your e-mail' name='email' id='email'>
            <input type='password' placeholder='Type your password' name='password' id='password'>
            <input type='button' value='Sign In'>

            <div class='content-message'>
                <span>Don't have an account?</span>
                <a href='/register'>Sign up here.</a>
            </div>

            <div class='separate'>
                <div class='horizontal-line'></div>
                <span>o</span>
                <div class='horizontal-line'></div>
            </div>

            <div class='content-sign-another-option'>
                <img src='/images/svg/google.svg' alt='Google logo for sign-in'>
                <span>Continue with google </span>
            </div>
        </article>
    </section>
</main>