<main>
    <section class='section-login-register'>
        <article class='article-login-register'>
            <img class='img-login-register' src='/images/Company_Img.webp' alt='Corporate image of the company'>
        </article>

        <article class='content-login-register-title'>
            <div class='content'>
                <h2>Tapiceria Leone</h2>
                <h3>Login</h3>
            </div>
        </article>

        {{#if messages}}
            <div id='MessageFailed' class='container-message'>
                <div class='container-message warning-color'>
                    <span class='container-message-span'>{{messages}}</span>
                    <button class='button-closed' onclick="CloseMessageFailed()">
                        <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                          <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                        </svg>
                    </button>
                </div>
            </div>
        {{/if}}

        <article>
            <form method='POST' class='article-content-form'>
                <input type='email' placeholder='Type your e-mail' name='email' id='email'>
                <input type='password' placeholder='Type your password' name='password' id='password'>
                <input type='submit' value='Sign In'>
                <div class='content-message'>
                    <span>Don't have an account?</span>
                    <a href='/register'>Sign up here.</a>
                </div>
                <div class='separate'>
                    <div class='horizontal-line-account'></div>
                    <span>o</span>
                    <div class='horizontal-line-account'></div>
                </div>
                
                <a class='no-hover-a' href='/google'>
                    <div class='content-sign-another-option'>
                        <img class='login-svg' src='/images/svg/google.svg' alt='Google logo for sign-in'>
                        <span>Continue with Google</span>
                    </div>
                </a>

                <a class='no-hover-a' href='/github'>
                    <div class='content-sign-another-option'>
                        <img class='login-svg' src='/images/svg/github.svg' alt='Github logo for sign-in'>
                        <span>Continue with Github</span>
                    </div>
                </a>
            </form>
        </article>
    </section>
</main>

<script>
    function CloseMessageFailed() {
        var msjFail = document.getElementById('MessageFailed');
        msjFail.classList.add('hidden');
    }
</script>