<main>
    <h1>Our Products</h1>
    <section class='section-filter'>
        <h3>Filter by</h3>
        <select name='product' id='product'>
            <option value='Seleccione' selected hidden disabled>Seleccione</option>
            <option value='Opción 1'>Opción 1</option>
            <option value='Opción 2'>Opción 2</option>
            <option value='Opción 3'>Opción 3</option>
            <option value='Opción 4'>Opción 4</option>
            <option value='Opción 5'>Opción 5</option>
        </select>
    </section>

    <section class='section-list'>
        <article class='article-result'>
            <img class='result' src='https://dbdzm869oupei.cloudfront.net/img/sticker/preview/38676.png' alt='Representative image of the product.'>
            <div class='container'>
                <div class='detail'>
                    <span>Título: </span>
                    <span>Descripción:</span>
                </div>

                <div class='number'>
                    <span>Amount: </span>
                    <span>Price:</span>
                </div>
            </div>
        </article>
    </section>

    <section class='section-list'>
        <article class='article-result'>
            <img class='result' src='https://dbdzm869oupei.cloudfront.net/img/sticker/preview/38676.png' alt='Representative image of the product.'>
            <div class='container'>
                <div class='detail'>
                    <span>Título: </span>
                    <span>Descripción:</span>
                </div>

                <div class='number'>
                    <span>Amount: </span>
                    <span>Price:</span>
                </div>
            </div>
        </article>
    </section>

    <section class='section-list'>
        <article class='article-result'>
            <img class='result' src='https://dbdzm869oupei.cloudfront.net/img/sticker/preview/38676.png' alt='Representative image of the product.'>
            <div class='container'>
                <div class='detail'>
                    <span>Título: </span>
                    <span>Descripción:</span>
                </div>

                <div class='number'>
                    <span>Amount: </span>
                    <span>Price:</span>
                </div>
            </div>
        </article>
    </section>

    <section class='section-list'>
        <article class='article-result'>
            <img class='result' src='https://dbdzm869oupei.cloudfront.net/img/sticker/preview/38676.png' alt='Representative image of the product.'>
            <div class='container'>
                <div class='detail'>
                    <span>Título: </span>
                    <span>Descripción:</span>
                </div>

                <div class='number'>
                    <span>Amount: </span>
                    <span>Price:</span>
                </div>
            </div>
        </article>
    </section>

    <section class='section-list'>
        <article class='article-result'>
            <img class='result' src='https://dbdzm869oupei.cloudfront.net/img/sticker/preview/38676.png' alt='Representative image of the product.'>
            <div class='container'>
                <div class='detail'>
                    <span>Título: </span>
                    <span>Descripción:</span>
                </div>

                <div class='number'>
                    <span>Amount: </span>
                    <span>Price:</span>
                </div>
            </div>
        </article>
    </section>
</main>