<main>
    <section class='section-login-register'>
        <article class='article-login-register'>
            <img class='img-login-register' src='/images/Company_Img.webp' alt='Corporate image of the company'>
        </article>

        <article class='content-login-register-title'>
            <div class='content'>
                <h2>Tapiceria Leone</h2>
                <h3>Create you account</h3>
            </div>
        </article>

        <article class='article-content-form'>
            <input type='text' placeholder='Type your name and last name' name='user' id='user'>
            <input type='email' placeholder='Type your e-mail' name='email' id='email'>
            <input type='password' placeholder='Type your password' name='password' id='password'>
            <input type='button' value='Create Account'>

            <div class='separate'>
                <div class='horizontal-line'></div>
                <span>o</span>
                <div class='horizontal-line'></div>
            </div>

            <div class='content-message'>
                <span>Do have an account?</span>
                <a href='/login'>Sign in here.</a>
            </div>
        </article>
    </section>
</main>