.section-list-panel-product {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.container-panel-product {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    width: 1000px;
    max-width: 1000px;
}

.article-result-product-service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3%;
    padding-left: 5%;
    max-width: 1100px;
    align-items: center;
}


.container-new-title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.text-area-editable {
    width: 400px !important;
    height: 55px !important;
}

.section-list-panel-service {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.container-panel-service {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 60px;
    width: 1000px;
    max-width: 1000px;
}
