:root {
  --primary-black: #000;
  --primary-white: #fff;
  --primary-transparent: 'transparent';

  /* Red */
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;

  /* Gray */
  --gray-400: #9ca3af;
  --gray-shadow-600: #4B556380;
  --gray-800: #1f2937;

  /* Users */
  --lime-100: #ecfccb;
  --lime-700: #4d7c0f;

  /* Color Message */
  --success-600: #059669;
  --warning-600: #d97706;

  /* Font Family */
  --font-family: 'Clash Display', sans-serif;
}

html {
  font-family: var(--font-family);
  background-color: var(--primary-black);
  color: var(--primary-white);
  box-sizing: border-box;
}

html::selection {
  background-color: var(--red-500);
  color: var(--primary-white);
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
textarea,
select {
  min-width: 250px;
  width: calc(80% + 10px);
  height: 40px;
  background-color: var(--gray-800);
  color: var(--primary-white);
  outline: none;
  border: 0;
  border-radius: 20px;
  appearance: none;
  text-align: center;
  font-family: var(--font-family);
}

input[type='radio'] {
  accent-color: var(--red-600);
}

textarea {
  height: 100px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder,
input[type='number']::placeholder,
textarea::placeholder {
  color: var(--gray-400);
}

textarea::placeholder {
  padding-top: 1px;
}

input[type='submit'] {
  min-width: 150px;
  width: max-content;
  height: 40px;
  border: 0;
  border-radius: 20px;
  background-color: var(--red-500);
  color: var(--primary-white);
  font-family: var(--font-family);
}

button[type='submit'] {
  border: 0;
  padding: 10px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--red-500);
  color: var(--primary-white);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield; /* Para Firefox */
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100dvh;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-family);
}

.nav-horizontal {
  padding-top: 1%;
  padding-bottom: 1%;
}

.ul-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.li-login {
  padding-right: 9%;
  list-style: none;
}

.li-horizontal {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

/* .li-horizontal:first-child {
  padding-left: 5%;
} */

.li-horizontal:nth-child(8) {
  padding-right: 5%;
}

.li-horizontal:last-child {
  display: none;
}

a {
  text-decoration: none;
  color: var(--primary-white);
  display: flex;
  align-items: center;
  gap: 10px;
}

a:not(.no-hover-a):hover{
  color: var(--red-400);
  font-size: large;
}

.no-hover-a {
  color: var(--primary-white);
  font-size: inherit;
}

.no-hover-a:last-child {
  margin-bottom: 2%;
}

.nav-ul-li-img {
  width: 60px;
  height: 45px;
}

.button-hamburguesa {
  border: 0;
  background-color: transparent;
}

aside {
  z-index: 999;
  position: fixed;
  width: fit-content;
  right: 0;
  height: 100%;
  background-color: var(--primary-black);
  box-shadow: 0px 0px 50px 5px var(--gray-shadow-600);
}

.nav-vertical {
  height: 100%; 
  display: flex;
  flex-direction: column;
  gap: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.ul-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  height: 100%;
  gap: 8%;
  width: 100%;
  padding-left: 0;
}

.li-vertical {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-right {
  animation:slide-right .4s linear both;
}

.slide-left {
  width: 40%;
  animation:slide-left .4s linear both
}

@keyframes slide-right {
  0% {
    transform:translateX(0%)
  }
  100% { 
    transform:translateX(100%)
  }
}

@keyframes slide-left {
  0% {
    transform:translateX(100%)
  }
  100% { 
    transform:translateX(0%)
  }
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding-top: 5%;
}

.footer-article {
  display: flex;
  gap: .5%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: 40px;
  height: 30px;
}

.svg-footer {
  width: 20px;
  height: 20px;
}

.svg-hamburguesa {
  width: 30px;
  color: var(--primary-white);
}

.footer-last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}

.footer-last-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 560px) {
  .footer-last {
    padding-left: 2%;
    padding-right: 2%;
  }

  .footer-last > span {
    font-size: 13px;
  }
}

@media screen and (max-width: 380px) {
  .footer-last {
    gap: 15px;
    flex-direction: column-reverse;
  }
}

/* Media Screen for nav */
@media screen and (max-width: 1023px) {
  .ul-horizontal {
    justify-content: space-between;
  }

  .li-horizontal:first-child {
    padding-left: 0;
  }

  
  .li-horizontal:first-child > a > span {
    display: none;
  }

  .li-horizontal > a > span {
    font-size: 14px;
  }

  .li-login {
    display: none;
    padding-right: 5%;
  }
}

@media screen and (max-width: 750px) {
  .ul-horizontal {
    padding-left: 5%;
  }

  .li-horizontal {
    padding-left: 0;
  } 

  .li-horizontal:not(:first-child) {
    display: none;
  }

  .li-horizontal:last-child {
    display: block;
    padding-right: 5%;
  }
  
  .li-horizontal:first-child > a > span {
    display: block;
  }

  .li-login {
    display: none;
    padding-right: 5%;
  }

  .ul-vertical {
    gap: 5%;
  }

  .li-vertical {
    font-size: 14px;
  }
}

@media screen and (max-width: 390px) {
  .ul-horizontal {
    padding-left: 5%;
  }
  
  .nav-ul-li-img {
    width: 55px;
  }

  .li-horizontal:first-child > a > span {
    min-width: 119px;
    font-size: 14px;
  }
}