:root {
  --primary-black: #000;
  --primary-white: #fff;

  /* Red */
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;

  /* Gray */
  --gray-400: #9ca3af;
  --gray-shadow-600: #4B556380;
  --gray-800: #1f2937;

  /* Users */
  --lime-100: #ecfccb;
  --lime-700: #4d7c0f;

  --font-family: 'Clash Display', sans-serif;
}

html {
  font-family: var(--font-family);
  background-color: var(--primary-black);
  color: var(--primary-white);
  box-sizing: border-box;
}

html::selection {
  background-color: var(--red-500);
  color: var(--primary-white);
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
textarea,
select {
  min-width: 250px;
  width: calc(80% + 10px);
  height: 40px;
  background-color: var(--gray-800);
  color: var(--primary-white);
  outline: none;
  border: 0;
  border-radius: 20px;
  appearance: none;
  text-align: center;
  font-family: var(--font-family);
}

input[type='radio'] {
  accent-color: var(--red-600);
}

textarea {
  height: 100px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder,
input[type='number']::placeholder,
textarea::placeholder {
  color: var(--gray-400);
}

textarea::placeholder {
  padding-top: 1px;
}

input[type='submit'] {
  min-width: 150px;
  width: max-content;
  height: 40px;
  border: 0;
  border-radius: 20px;
  background-color: var(--red-500);
  color: var(--primary-white);
  font-family: var(--font-family);
}

button[type='submit'] {
  border: 0;
  padding: 10px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--red-500);
  color: var(--primary-white);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield; /* Para Firefox */
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100dvh;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-family);
}

nav {
  padding-top: 1%;
  padding-bottom: 1%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

li:first-child {
  padding-left: 5%;
}

li:last-child {
  padding-right: 5%;
}

a {
  text-decoration: none;
  color: var(--primary-white);
  display: flex;
  align-items: center;
  gap: 10px;
}

/* a:hover {
  color: var(--red-400);
  font-size: large;
} */

a:not(.no-hover-a):hover{
  color: var(--red-400);
  font-size: large;
}

.no-hover-a {
  color: var(--primary-white);
  font-size: inherit;
}

.nav-ul-li-img {
  width: 60px;
  height: 45px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding-top: 5%;
}

.footer-article {
  display: flex;
  gap: .5%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: 40px;
  height: 30px;
}

.footer-last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}

.footer-last-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
}